body{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-image:url(./GettyImages-154932300.jpg);

}
.main{
    justify-content: center;
    width: 600px; 
    height: 200px; 
    margin-left: 400px;
    margin-top: 200px;
    text-align: center;
    background-color: rgb(102, 34, 125);
    border: 3px solid white;
    border-radius: 50pc;
}
input[type=text]{
    width: 180px;
    height: 25px;
    font-size: 17px;
}
    
#n1{
    width: 250px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 40px;

}
#res{
    width: 500px;
    height: 25px;
    color: black;
    background-color: rgb(102, 34, 125);    
    margin-left: 60px;

}
    
   

#check,#reset{
    height: 25px;
    width: 75px;
    background: rgb(60, 169, 124);
    color: black;
    font-size:medium;
    font-weight: bold;
    border: 0;
    box-shadow: 5px 5px 5px black;
    justify-content: space-evenly;

}